@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap");

:root {
  --bg: #181719;
  --gray: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: var(--bg);
}

.container {
  max-width: 1250px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: var(--bg);
  position: fixed;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Crimson Pro", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  padding: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  background-color: #fff;
  color: var(--gray);
}

.fa-bars,
.fa-times {
  display: none;
}

.nav-items {
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 80px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 4px;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid #fff;
}

.active {
  font-weight: 700;
}
